.spell1,.spell2 {
    border-radius: 6px;
    float: right;
    height: 12px;
    position: absolute;
    top: 18px;
    width: 12px;
    z-index: 2;
}

.spell1 {
    right: 3px;
}

.spell2 {
    right: 18px;
}

.summer {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: -2px;
}